main section.formulario
{
    width:500px;
    height:500px;
    padding:40px;
    background-color:#ffffff7e;
    border-radius:15px;
}
.formulario  label
{
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    color:#707070;
    margin-left:10px;
}
.formulario form input
{
    width:100%;
    height:50px;
    margin-top:5px;
    margin-bottom:10px;
    border-radius:10px;
    background-color: #fff;
    outline:none;
    border:none;
    padding-left:15px;
}
.formulario h1
{
    text-align: center;
    position: relative;
    top:-25px;
    left:0;
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    font-size:1.7em;
    color:#18A880;
}
.formulario h2
{
    text-align: center;
    position: relative;
    top:-15px;
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    font-size:20px;
    color:#777777;
}
.formulario button
{
    width:310px;
    height:60px;
    background-color:#1DFFC1;
    border:none;
    border-radius:13px;
    position: relative;
    justify-content: center;
    left:45px;
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    font-size:20px;
    color:#fff;
}
.successo-messagem
{
    background-color: #35CCA2;
    padding:10px;
    width:100%;
    margin-top:10px;
    font-size:14px;
    border-radius:17px;
    color:#fff;
    font-family: "Open Sans", sans-serif;
    font-weight:200;
    display:none;
    transition-duration:3s;
}
.erro-messagem
{
    background-color: #FF2020;
    padding:10px;
    width:100%;
    margin-top:10px;
    font-size:14px;
    border-radius:12px;
    color:#f51515;
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    display:none;
    transition-duration:3s;
}